<div class="row">
    <div class="jumbotron background-portland">
      <div class="opacity-layer">
        <h1 class="display-3">Portland Crime Statistics</h1>
        <p class="lead">
            Welcome to the Portland Crime Statistics data browser. This website allows
            you to review the trends on reported crimes in Portland, Oregon going back
            to 2004.
        </p>
        <hr class="m-y-md">
        <p>
            All data gathered for this site is from <a href="http://www.civicapps.org" title="Civic Apps">Civic Apps</a>.
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#/neighborhoods" role="button">Browse By Neighborhood</a>
          <a class="btn btn-primary btn-lg" href="#/neighborhoods/all" role="button">View All Neighborhoods</a>
        </p>
      </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <h3>Learn About Civic Apps</h3>
        <p>
            From their about page:
        </p>
        <blockquote>The CivicApps.org site aims to encourage every citizen to be an active
           participant by putting the data in their hands.
        </blockquote>
        <a href="http://www.civicapps.org" title="Civic Apps" class="btn btn-lg btn-default">
            Visit Civic Apps
        </a>
    </div>
    <div class="col-md-4">
        <h3>More Data</h3>
        <div class="list-group">
            <a href="https://data.oregon.gov" title="Oregon Open Data Portal"
               class="list-group-item">
                Oregon Open Data Portal
            </a>
            <a href="http://spatialdata.oregonexplorer.info/geoportal/catalog/main/home.page"
               title="Oregon Spacial Data Library" class="list-group-item">
                Oregon Spacial Data Library
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <h3>View the Source Code</h3>
        <p>
            The source code of this website is available on GitHub. Check it out!
        </p>
        <a href="https://github.com/travishathaway/crimestats" title="GitHub Crimetstats Repository"
           class="btn btn-lg btn-default">
            View Source Code
        </a>
    </div>
</div>
<hr>
