<div class="row">
    <div class="col-md-3">
        <h1>Crime Stats</h1>
    </div>
    <div class="col-md-3">
        <br>
        <ul class="nav nav-pills">
            <li ng-class="{'active': group_by == 'major_offense_type'}">
                <a href="#/?group_by=major_offense_type">Offense Type</a>
            </li>
            <li ng-class="{'active': group_by == 'neighborhood'}">
                <a href="#/?group_by=neighborhood">Neighborhood</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <br>
        <div class="form-group">
            <div class="form-group col-xs-6">
                <input type="text" class="form-control" ng-model="start_date"
                       data-max-date="{{end_date}}" placeholder="From" bs-datepicker
                       model-date-format="yyyy-MM-dd" min-view="1" autoclose="1">
            </div>
            <div class="form-group col-xs-6">
                <input type="text" class="form-control" ng-model="end_date"
                       data-min-date="{{start_date}}" placeholder="Until" bs-datepicker
                       model-date-format="yyyy-MM-dd" min-view="1" autoclose="1">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <span ng-repeat="type in group_by_cols">
            <button type="button" class="btn btn-sm btn-default" ng-change="updateChart()"
                    ng-model="group_by_choices[type]" bs-checkbox>
                {{ type }}
            </button>
        </span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div google-chart chart="chart" style="{{chart.cssStyle}}" />
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div google-chart chart="tableChart" style="{{tableChart.cssStyle}}" />
    </div>
</div>
