<h1>Crime Stats</h1>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li ng-class="{'active': group_by == 'major_offense_type'}">
                <a href="#/?group_by=major_offense_type">Offense Type</a>
            </li>
            <li ng-class="{'active': group_by == 'neighborhood'}">
                <a href="#/?group_by=neighborhood">Neighborhood</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-2" >
        <h3>{{group_by_titles[group_by]}}</h3>
        <div style="overflow-y: scroll; height: 400px">
            <div ng-repeat="type in group_by_cols">
                <button type="button" class="btn btn-default" ng-change="updateChart()"
                        ng-model="group_by_choices[type]" bs-checkbox>
                    {{ type }}
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div google-chart chart="chart" style="{{chart.cssStyle}}" />
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-10">
        <div google-chart chart="tableChart" style="{{tableChart.cssStyle}}" />
    </div>
</div>
