<div class="row">
    <div class="col-md-2">
        <strong>Date Range:</strong>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="start_date"
                   data-max-date="{{end_date}}" placeholder="From" bs-datepicker
                   model-date-format="yyyy-MM-dd" min-view="1" autoclose="1">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="end_date"
                   data-min-date="{{start_date}}" placeholder="Until" bs-datepicker
                   model-date-format="yyyy-MM-dd" min-view="1" autoclose="1">
        </div>
        <strong>Offense Types</strong>
        <div class="slimscroll-body" slimscroll="{height: '325px'}">
            <div class="checkbox checkbox-primary" ng-repeat="type in group_by_cols">
                <input type="checkbox" ng-model="group_by_choices[type]"
                       ng-checked="group_by_choices[type]" id="incident_check_{{$index}}"
                       ng-change="updateChart()">
                <label for="incident_check_{{$index}}">
                    {{type}}
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div google-chart chart="chart" style="{{chart.cssStyle}}" />
    </div>
</div>
<hr>
