<h2>{{neighborhood|capitalize:true}}</h2>
<hr>
<div class="row">
    <div class="col-md-6">
        <p>
            Here is some filler information and possibly useful things about
            this particular neighborhood in Portland.  Maybe there will be a map
            here in the future or something even more useful.
        </p>
    </div>
    <div class="col-md-6">
        <h4>Top Five Offense in 2014</h4>
        <top-offenses neighborhood="neighborhood"></top-offenses>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <offense-type neighborhood="neighborhood" chart-type="ColumnChart"></offense-type>
    </div>
</div>
