<div class="row">
    <div class="col-md-10">
        <div ng-if="neighborhood.toLowerCase() === 'all'">
            <h2>Portland</h2>
        </div>
        <div ng-if="neighborhood.toLowerCase() !== 'all'">
            <h2>{{neighborhood|capitalize:true}}</h2>
        </div>
    </div>
    <div class="col-md-2">
        <a href="#/neighborhoods" title="Neighborhoods">
            <strong>All Neighborhoods</strong>
        </a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <neighborhood-key-stats neighborhood="neighborhood"></neighborhood-key-stats>
    </div>
    <div class="col-md-6">
        <top-offenses neighborhood="neighborhood"></top-offenses>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <offense-type neighborhood="neighborhood" chart-type="ColumnChart"></offense-type>
    </div>
</div>
