<html>
<head>
<title>Crime Stats</title>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript">
      var line_data;
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      function drawChart(){
        $.ajax({
          url: '/crime_stats?major_offense_type=&major_offense_type=Drugs',
          dataType: 'json',
          type: 'GET',
          success:  function(data){
            line_data = data.graph_data;

            columns = ['Year Month', ]
            var data = new google.visualization.DataTable();

            for(var x = 0; x < line_data.columns.length; x++){
                if(line_data.columns[x] == 'date'){
                    data.addColumn('date', line_data.columns[x]);
                } else {
                    data.addColumn('number', line_data.columns[x]);
                }
            }

            with_date_data = []

            for(var x = 0; x < line_data.data.length; x++){
                with_date_data.push(line_data.data[x]);
                with_date_data[x][0] = new Date(with_date_data[x][0]);
            }

            data.addRows(with_date_data)

            var options = {
              title: 'Incident Reports by Year and month',
              curveType: 'function',
              legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
           
          }
        })
      }
    </script>
</head>
<body>
<h1>Crime Stats</h1>
<div id="chart_div" style="height: 600px; width: 100%"></div>
</body>
</html>
