<h4>
    Overview Statistics
</h4>
<table class="table table-condensed table-bordered">
    <tbody>
        <tr>
            <td>
                <strong>Average Reported Offense Per Year</strong>
            </td>
            <td>
                {{average_offense_count}}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Highest Offense Count</strong>
            </td>
            <td>
                {{highest_count}} ({{highest_count_years}})
            </td>
        </tr>
        <tr>
            <td>
                <strong>Lowest Offense Count</strong>
            </td>
            <td>
                {{lowest_count}} ({{lowest_count_years}})
            </td>
        </tr>
    </tbody>
</table>