<div class="row">
    <div class="col-md-3">
        <h4>Offense Types by Year and Month</h4>
    </div>
    <div class="col-md-2">
        <select ng-model="aggPeriod" class="form-control">
            <option value="year">Year</option>
            <option value="month">Month</option>
        </select>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="start_date"
                           data-max-date="{{end_date}}" placeholder="From" bs-datepicker
                           model-date-format="yyyy-MM-dd" min-view="1" autoclose="1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="end_date"
                           data-min-date="{{start_date}}" placeholder="Until" bs-datepicker
                           model-date-format="yyyy-MM-dd" min-view="1" autoclose="1">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <strong>Offense Types</strong>
        <div class="slimscroll-body" slimscroll="{height: '450px'}">
            <div class="checkbox checkbox-primary" ng-repeat="type in group_by_cols">
                <input type="checkbox" ng-model="group_by_choices[type]"
                       ng-checked="group_by_choices[type]" id="incident_check_{{$index}}"
                       ng-change="updateChart()">
                <label for="incident_check_{{$index}}">
                    {{type}}
                </label>
            </div>
            <div ng-if="!group_by_cols.length" class="loading-message">
                <div>Loading</div>
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="loading-message loading-message-large" ng-if="loading">
            <div>Loading</div>
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div google-chart chart="chart" style="{{chart.cssStyle}}" ng-show="!loading">
        </div>
    </div>
</div>
<hr>
